<div class="ariane-thread" ng-controller="ArianeCtrl">
  <ul>
    <span ng-repeat="location in locations">
      <li>
        <a ng-href="/#/{{location.url}}"><p ng-class="{arianeHere: $last}">{{location.name}}</p></a>
      </li>
      <li ng-hide="$last">
        <i class="icon ion-ios-arrow-thin-right"></i>
      </li>
    </span>
  </ul>
</div>

<div id="checkout-progress" class="category-box">
  <p class="category-box-title">Checkout Progress</p>
  <div class="category-box-content">
    <ul>
      <li>Billing Adress</li>
      <li>Shipping Adress</li>
      <li>Shipping Method</li>
      <li>Payment Method</li>
    </ul>
  </div>
</div>

<div class="checkout-content">
  <div id="checkout-method">
    <div class="checkout-method-title">
      <div class="square-title">1</div>
      <p>CHECKOUT METHOD</p>
    </div>
    <p id="checkout-method-subtitle">Checkout as a guest or register</p>
    <div id="checkout-method-content">
      <p>Register with us for further convenience:</p>

      <div id="checkout-method-radio-form">
        <p><input type="radio" value="guest" name="checkOutOption"> Checkout as a Guest</p>
        <p><input type="radio" value="register" name="checkOutOption"> Register</p>
      </div>

      <p>Register and save time!</p>
      <p>Register with us for further convenience</p>

      <div id="checkout-method-list">
        <p><i class="icon ion-ios-arrow-right" ></i> Checkout as a guest</p>
        <p><i class="icon ion-ios-arrow-right" ></i> Register</p>
      </div>
	  <input type="button" class="checkout-Continue-button" value="CONTINUE"/>
      
    </div>
  </div>

  <div id="checkout-login">
    <p id="checkout-login-title">Login</p>
    <p>Already registered? Please login below:</p>

    <form name="login-form" id="checkout-login-form">
      <div id="checkout-login-form-email">
        <label for="email">Email Address:</label>
        <p><input class="checkout-login-form-input" name="email" type="email" placeholder="john.doe@mail.com" required></p>
      </div>
      <div id="checkout-login-form-password">
        <label for="password">Password:</label>
        <p><input class="checkout-login-form-input" name="password" type="password" required></p>
      </div>
	  <div class="requiredfield">
		*Required field
	  </div>
		<input type="button" class="checkout-login-button" value="LOGIN"/>
    </form>
  </div>

  <div id="checkout-list">
    <ul>
      <li>
        <div class="square">2</div>
        <p>BILLING INFORMATION</p>
      </li>
      <li>
        <div class="square">3</div>
        <p>SHIPPING INFORMATION</p>
      </li>
      <li>
        <div class="square">4</div>
        <p>SHIPPING METHOD</p>
      </li>
      <li>
        <div class="square">5</div>
        <p>PAYMENT INFORMATION</p>
      </li>
      <li>
        <div class="square">6</div>
        <p>ORDER REVIEW</p>
      </li>
    </ul>
  </div>
</div>
